@import 
url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&family=Pixelify+Sans:wght@400;500;600;700&display=swap');

body {
  background: linear-gradient(89deg, rgb(253, 220, 155) 26.2%, rgb(255, 215, 165) 48.5%);
}

#canvas {
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid-box {
    background-color: #fff;
    border: none;
    box-sizing: border-box;
  }
